<!doctype html>
<html lang="en">
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% render 'header' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    <script src="{{ 'script.js' | asset_url }}" defer></script>
  </body>
</html>
