{% comment %} Cart Icon {% endcomment %}
<div class="w-8 h-8 relative flex items-center justify-center">
  {% comment %} <i class="absolute z-10 fa-solid fa-bag-shopping text-3xl"></i> {% endcomment %}
  <i class="absolute z-10 fa-solid fa-cart-shopping text-3xl"></i>
  <p class="absolute block w-5 h-5 -right-4 -top-4 rounded-full flex items-center justify-center bg-red-500 z-20 font-bold text-sm text-white">
    20
  </p>
</div>
