<header>
  <div class="w-full bg-black py-2">
    <div class="container mx-auto text-center">
      <p class="space-x-2">
        <span class="font-bold text-yellow-500 animate-pulse">Now Delivering</span
        ><span class="font-normal text-white"
          >your favourite meals from <span class="font-medium">La Patisserie</span> and
          <span class="font-medium">Hanabi</span></span
        >
      </p>
    </div>
  </div>
  <nav class="w-full bg-yellow-500 py-5">
    <div class="container mx-auto">
      <input class="w-5/12 px-3 py-2 rounded-md outline-none">
    </div>
  </nav>
</header>
