<header class="">
  <div class="w-full h-[50vh] bg-yellow-500 flex items-center md:h-24">
    <div class="w-full px-10 flex items-center justify-between gap-x-10 lg:container lg:mx-auto">
      {% comment %} Mobile Menu {% endcomment %}
      <div class=""><i class="fa-solid fa-bars text-3xl"></i></div>

      {% comment %} Logo {% endcomment %}
      <img src="{{ 'logo.png' | asset_url }}" class="w-20" alt="Le Gourmet Delicatessen Logo">

      {% comment %} Search {% endcomment %}
      {% render 'search' %}

      {% comment %} Cart {% endcomment %}
      {% render 'cart' %}
    </div>
  </div>
</header>
