<div class="w-full h-10 bg-black flex items-center justify-center">
  <div class="container mx-auto text-center">
    <p class="space-x-2 text-sm">
      <span class="font-bold text-yellow-400 animate-pulse">Now Delivering</span
      ><span class="font-normal text-white"
        >your favourite meals from <span class="font-medium">La Patisserie</span> and
        <span class="font-medium">Hanabi</span></span
      >
    </p>
  </div>
</div>
