<div class="hidden w-full flex">
  {% comment %} Search Input {% endcomment %}
  <input placeholder="Search our store" class="w-full px-3 py-2 rounded-l-md outline-none">

  {% comment %} Search Button {% endcomment %}
  <div class="w-10 h-10 flex items-center justify-center bg-slate-800 rounded-r-md">
    <i class="fa-solid fa-magnifying-glass text-white text-2xl"></i>
  </div>
</div>
